# MongoDB Configuration
MONGODB_URI=mongodb+srv:

# Authentication
NEXTAUTH_SECRET=chaicode

# ImageKit Configuration
NEXT_PUBLIC_PUBLIC_KEY==
IMAGEKIT_PRIVATE_KEY=private_+=
NEXT_PUBLIC_URL_ENDPOINT=